<%= form_for(@admin_banner) do |f| %>
  <% if @admin_banner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_banner.errors.count, "error") %> prohibited this admin_banner from being saved:</h2>

      <ul>
      <% @admin_banner.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :active %><br>
    <%= f.check_box :active, :checked => if AdminBanner.exists? then AdminBanner.last.active end %>
  </div>
  <div class="field">
    <%= f.label :banner %><br>
    <%= f.text_area :banner, :value =>if AdminBanner.exists? then AdminBanner.last.banner end, cols: 80, rows: 5 %>
  </div>
  <div class="field">
  <%= f.label :style %><br>
  <%= f.collection_select :stylechoice, AdminBanner::STYLES, :to_s, :to_s, :include_blank => false %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
