<p id="notice"><%= notice %></p>

<p>
  <strong>Active:</strong>
  <%= @admin_banner.active %>
</p>

<p>
  <strong>Banner:</strong>
  <%= @admin_banner.banner %>
</p>

<%= link_to 'Edit', edit_admin_banner_path(@admin_banner) %> |
<%= link_to 'Back', admin_banners_path %>
